{% extends 'index.html' %}
{% load static %}

{% block content %}
<h1>Weather forecast</h1>

<form action="" method="POST">
    {% csrf_token %}
    <label for="name"></label>
    <input type="text" name="name" id="name" placeholder="Enter your city">
    <input type="submit" value="submit">
</form>


{%for city in weather_data %}
    <ul>
        <li>{{city.city}}</li>
        <li>{{city.temperature}}<span>°C</span></li>
        <li>{{city.description}}</li>
    </ul>
{% endfor %}



{% endblock %}