body {
    text-align: center;
    margin-top: 150px;
}
ul li {
    list-style-type: none;
    margin-top: 20px;
    display: inline;
    text-transform: lowercase;
}
span{
    text-transform: uppercase;
}